@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    text-align: center;
	overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
	display: none;         
}

img {
    margin: .25rem;
}

img:hover {
    cursor: pointer;
}

button {
    border: none;
    margin: 1rem;
}

.logo {
    width: 90px;
}

.icon {
    width: min(100%, 2rem);
    height: min(100%, 2rem);
}

.head {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.head__item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 20rem;
}

.main-search {
    position: relative;
    display: flex;
    height: .4rem;
    width: 40rem;
    border: 1px solid gray;
    border-radius: 2.5rem;
    padding: 1rem;
    font-size: 16px;
}

.search-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3rem;
    border-radius: .5rem;
    padding: .25rem;
}

.search-btns {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 47.5%;
}

.search-btns__item {
    font-size: .85rem;
    font-weight: 600;
    border-radius: .4rem;
    color: #4b4b4b;
    background-color: #f2f2f2;
    transition: .1s ease-in-out;
    padding: .5rem .8rem;
    cursor: pointer;
    margin: 0;
}

.search-btns__item:hover:not(.search-btns__item-active) {
    background-color: #e5e5e5;
}

.search-btns__item-active {
    color: #f2f2f2;
    background-color: black;
}

.main {
    width: 100%;
    margin-left: 12%;
}

.window {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.sidebar {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 12%;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    width: .4rem;
    background-color: inherit;
    transition: .1s ease-in-out;
}

.sidebar::-webkit-scrollbar:hover {
    background-color: #909090;
}

.sidebar__item {
    padding: 1rem;
    transition: .1s ease-in-out;
    cursor: pointer;
}

.sidebar__item:hover {
    border-radius: .4rem;
    background-color: #f2f2f2;
}

.sidebar_headline {
    text-align: left;
    cursor: pointer;
    margin: 1rem 1.5rem;
}

.sidebar-subs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.sidebar-subs-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.sidebar-subs-item__author {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
}

.sidebar-subs-item__label {
  font-size: .9rem;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: left;
    cursor: pointer;
    width: 20%;
}

.card__item-preview {
  width: 19rem;
  height: 10.5rem;
  border-radius: .75rem;
  transition: .1s ease-in-out;
}

.card__item-preview:hover {
  border-radius: 0;
}

.card__item-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 90%;
}

.card__item-author {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.card__item-title {
    font-size: 1rem;
    margin-left: .5rem;
}

.card__item-description {
    font-size: .9rem;
}

#date {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: .9rem;
    font-weight: 3e2;
    margin: 1rem;
    user-select: none;
}